


#TodoItem{
    display: flex;
    width: 95vw;
    padding: 8px;
    align-items: center;
    border-bottom: 1px solid #ddd;
    &:hover{
        background-color: #f9f9f9;
    }
    &.editing{
        background-color: #fff3d2;
    }
    &.completed{
        >.text{
            text-decoration: line-through;
            color:gray;
        }
    }
    >.checkbox{
        font-size: 16px;
        padding-right: 8px;
        padding-left: 8px;
    }
    >.editing{
       flex: 1; 
       display: flex;
       justify-content: space-between;
       align-items: center;
       >.input{
        border: 0;
        background-color: #fff3d2;
        padding: 0;
        flex: 1;
        outline: none;
       }
       >.iconWrapper{
        font-size: 16px;
          >.icon{
            float:right;
          }
       }
    }
    >.text{
        font-size: 16px;
        flex: 1;
    }
}