


#Todos{
    display: flex;
    flex-wrap:wrap;
    width: 94vw;
    height: 400px;
    background-color: #fdfdfd;
    .todo1{
    width:  47vw;
    height: 200px;
    background-color: #ddd;
    }
    .todo2{
        width: 47vw;
        height: 200px;
        background-color: yellow;
        >.input{
            padding: 8px;
            border-radius: 5px;
            border: 1px solid #ddd;
            width: 32vw;
            margin: auto;
        }
    }
    .todoList{
        padding: 8px;
        margin-top: 16px;
    }
}
